/*  google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css variables */
:root {
    --light-bg: #ededf5;
    --dark-bg: #31343d;
    --primary-accent: #92cbcd;
    --secondary-accent: #465773;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

ul li {
    list-style: none;
}

main {
    background: #ededf5;
}

/* header styles*/
.header {
    background: var(--dark-bg);
}

header nav ul li {
    padding: 0 5px 0;
}

.nav {
    margin: 0 auto;
    max-width: 1400px;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: clamp(32px, 3vw, 42px);
    background: var(--primary-accent);
    color: black;
    padding: 0 10px 0 32px;
}

.nav-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-li {
    margin: 0 30px;
}

.nav-link {
    color: rgb(199, 199, 199);
    text-align: center;
    display: inline-block;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.nav-link::after {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 4px;
    width: 100%;
    height: 4px;
    transition: all 0.3s ease;
    background: var(--primary-accent);
}

@media screen and (max-width: 780px) {
    .nav {
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }

    .nav-ul {
        background: white;
        width: 100%;
    }

    .nav-li {
        margin: 0 10px;
    }

    .nav-link {
        color: black;
    }

    .nav-link:hover {
        color: var(--secondary-accent);
        font-weight: bold;
    }

    .nav-link::after {
        display: none;
    }
}

/* main section styles */
.hero-section {
    min-height: 300px;
    background: url("./assets/hero-banner.jpeg");
    background-position: center;
    background-size: cover;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
}

.tagline {
    font-size: 38px;
    font-weight: 600;
    background: var(--primary-accent);
    color: black;
    padding: 10px;
}

.section {
    max-width: 1400px;
    margin: 60px auto 0;
    padding: 5px;
    display: flex;
    align-items: stretch;
    gap: 30px;
}

.section-title {
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.section-title h2 {
    font-size: 38px;
    text-align: right;
    color: var(--secondary-accent);
}

.section-title::after {
    content: "";
    display: block;
    height: 100%;
    width: 4px;
    background: var(--secondary-accent);
    margin-left: 20px;
    z-index: 2;
}

.section-content {
    width: 100%;
}

/* about section */
.about-section {
    color: var(--secondary-accent);
}

.about-section p:last-child {
    margin-top: 10px;
}

/* works section */
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;
    gap: 20px;
}

.work-article {
    border: 4px solid var(--primary-accent);
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    transition: all 0.3s ease;
    opacity: 1;
}

.work-article:hover .overlay {
    opacity: 0;
}

.work-article--first {
    grid-column: span 2;
    grid-row: span 2;
}

.work-info {
    padding: 10px;
    background: var(--primary-accent);
    color: black;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: 20;
}

.work-article {
    overflow: hidden;
}

.work-link {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
}

.work-img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.contact-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    flex-wrap: wrap;
}

.contact-link {
    color: black;
    font-size: 18px;
}

.contact-link::after {
    content: "";
    display: block;
    position: relative;
    top: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--secondary-accent);
}

.footer-content {
    text-align: center;
    align-self: baseline;
}

@media screen and (max-width: 968px) {
    .section {
        flex-direction: column;
        align-items: center;
    }

    .section-title {
        max-width: 100%;
        width: 100%;
        display: block;
        flex-direction: column;
    }

    .section-title::after {
        width: 100%;
        margin: 0 auto;
        height: 3px;
    }

    .section-title h2 {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .work-article {
        grid-column: span 2;
    }

    .contact-ul {
        flex-direction: column;
        position: unset;
        transform: translate(0%);
        gap: 20px;
    }
}